<div class="as-article-content-module">

  <div class="as-single-article-image lazy-background" data-bg="{{ article.image.src | img_url: 'master', scale: 2 }}"></div>

  <div class="as-article-content-container">
    <div>

      <div class="post_date">{{ article.published_at | date: "%b %d, %Y" }}</div>

      <h1 class="
                                        twcss-font-noto
                                        twcss-font-extrabold
                                        lg:twcss-text-[48px]
                                        twcss-text-[36px]
                                        lg:twcss-mb-3
                                        twcss-uppercase
                                        twcss-pb-2
                                        twcss-pt-5
                                        lg:twcss-pb-5
                                        lg:group-hover:twcss-text-white post_title">{{ article.title }}</h1>

      <div class="post_content">
        {{ article.content }}</div>

      {% assign full_url = request.host | append: request.path | prepend: 'https://' %}

      <div class="post_share">
        <div class="inner_post_share">

          <div class="share-links-title">Teilen</div>
          <ul class="share-links-list">

            <li>
              <a
                title="Facebook Share"
                href="https://www.facebook.com/sharer/sharer.php?u={{ full_url }}"
                target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="48px"
                  height="48px">
                  <path d="M11.666,2.005C6.62,2.17,2.374,6.251,2.025,11.288c-0.369,5.329,3.442,9.832,8.481,10.589V14.65H8.892 c-0.726,0-1.314-0.588-1.314-1.314v0c0-0.726,0.588-1.314,1.314-1.314h1.613v-1.749c0-2.896,1.411-4.167,3.818-4.167 c0.357,0,0.662,0.008,0.921,0.021c0.636,0.031,1.129,0.561,1.129,1.198v0c0,0.663-0.537,1.2-1.2,1.2h-0.442 c-1.022,0-1.379,0.969-1.379,2.061v1.437h1.87c0.591,0,1.043,0.527,0.953,1.111l-0.108,0.701c-0.073,0.47-0.477,0.817-0.953,0.817 h-1.762v7.247C18.235,21.236,22,17.062,22,12C22,6.366,17.341,1.821,11.666,2.005z" /></svg>
              </a>
            </li>

            <li>
              <a
                title="Twitter Share"
                href="http://twitter.com/share?text={{article.title}}&url={{ full_url }}"
                target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 50 50"
                  width="50px"
                  height="50px"><path d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z" /></svg>
              </a>
            </li>

            <li>
              <a
                title="Pinterest Share"
                href="https://pinterest.com/pin/create/button/?url={{ full_url }}&media={{ article.image.src | img_url: 'master', scale: 2 }}&description={{article.title}}"
                target="_blank">
                <?xml version="1.0"?><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 30 30"
                  width="60px"
                  height="60px">
                  <path d="M15,3C8.373,3,3,8.373,3,15c0,5.084,3.163,9.426,7.627,11.174c-0.105-0.949-0.2-2.406,0.042-3.442 c0.218-0.936,1.407-5.965,1.407-5.965s-0.359-0.719-0.359-1.781c0-1.669,0.967-2.914,2.171-2.914c1.024,0,1.518,0.769,1.518,1.69 c0,1.03-0.655,2.569-0.994,3.995c-0.283,1.195,0.599,2.169,1.777,2.169c2.133,0,3.772-2.249,3.772-5.495 c0-2.873-2.064-4.882-5.012-4.882c-3.414,0-5.418,2.561-5.418,5.208c0,1.031,0.397,2.137,0.893,2.739 c0.098,0.119,0.112,0.223,0.083,0.344c-0.091,0.379-0.293,1.194-0.333,1.361c-0.052,0.22-0.174,0.266-0.401,0.16 c-1.499-0.698-2.436-2.889-2.436-4.649c0-3.785,2.75-7.262,7.929-7.262c4.163,0,7.398,2.966,7.398,6.931 c0,4.136-2.608,7.464-6.227,7.464c-1.216,0-2.359-0.632-2.75-1.378c0,0-0.602,2.291-0.748,2.853 c-0.271,1.042-1.002,2.349-1.492,3.146C12.57,26.812,13.763,27,15,27c6.627,0,12-5.373,12-12S21.627,3,15,3z" /></svg>
              </a>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>


</div>

{% schema %}
  {
    "name": "AS - Blog Article content",
    "class": "as-article-content-section",
    "settings": [],
    "presets": [
      {
        "name": "AS - Blog Article content",
        "category": "Artesian spas"
      }
    ]
  }
{% endschema %}