<div class="twcss-max-w-[var(--page-width)] twcss-m-auto">
    <div class="twcss-max-w-md">
        <h3 class="twcss-font-noto twcss-font-extrabold twcss-mb-3">{{ section.settings.heading }}</h3>
        <p class="twcss-font-noto twcss-font-light twcss-text-text"> {{ section.settings.textarea }}</p>

        <p class="twcss-font-noto">Kontakt</p>
        <p class="twcss-font-noto">
            Telefon:
            <a href="{{ section.settings.phone }}"> {{ section.settings.phone }}</a>
        </p>

        <p class="twcss-font-noto">
            E-Mail:
            <a href="{{ section.settings.mail }}">{{ section.settings.mail }}</a>
        </p>
    </div>

    <div>
        <div></div>
    </div>
</div>


{% schema %}
{
   "name": "Loumana Kontakt",
   "tag": "section",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Überschrift"
    },
    {
        "type": "textarea",
        "id": "textarea",
        "label": "Fließtext"
    },
    {
        "type": "text",
        "id": "phone",
        "label": "Telefonnummer"
    },
    {
        "type": "text",
        "id": "mail",
        "label": "E-Mail Adresse"
    }
  ],
 "presets": [
    {
        
        "name":"Loumana Kontakt"
    }
 ]
}
{% endschema %}