<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>

<div class="twcss-flex lg:twcss-max-w-[var(--page-width)] twcss-m-auto twcss-flex-col twcss-items-center twcss-mt-28 twcss-mb-16 twcss-max-w-lg">
        {{ section.settings.featuredProductsHeading }}

    {%- for block in section.blocks -%}
        <div class="pSection twcss-flex lg:{{block.settings.direction}} twcss-flex-col lg:twcss-justify-evenly lg:twcss-w-full lg:twcss-items-center" >
            <div class="lg:twcss-flex lg:twcss-max-w-lg lg:twcss-flex-col twcss-order-2 lg:twcss-order-1 ">
                <span class=" twcss-font-light twcss-text-[12px]  lg:twcss-max-w-md">{{ block.settings.product.price | money_with_currency }}  {% if block.settings.compare_at_price > block.settings.price %}
               <br> <s> {{ block.settings.compare_at_price |money }} </s>
              {% endif %}</span>
                <h3 class="twcss-font-semibold twcss-mt-[5px] twcss-font-noto twcss-text-title twcss-mb-5 lg:twcss-max-w-md">
                    {{ block.settings.product.title }}
                </h3>
                <div class="twcss-font-light twcss-text-text twcss-leading-10 lg:twcss-max-w-2xl">{{ block.settings.product.description }}</div>
                <div class="learnmore twcss-flex twcss-flex-row twcss-items-center">
                    <div class="quick-add">
                        {%- assign product_form_id = 'quick-add-' | append: section.id | append: block.settings.product.id -%}
                        {%- if block.settings.product.variants.size == 1 -%}
                          <product-form>
                            {%- form 'product', block.settings.product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                              <input type="hidden" name="id" value="{{ block.settings.product.selected_or_first_available_variant.id }}" >
                              <button
                                id="{{ product_form_id }}-submit"
                                type="submit"
                                name="add"
                                class="quick-add__submit mainButton lg:twcss-mr-4"
                                aria-haspopup="dialog"
                                aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ block.settings.product.id }}"
                                aria-live="polite"
                                data-sold-out-message="true"
                                {% if block.settings.product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                              >
                                <span>
                                  {%- if block.settings.product.selected_or_first_available_variant.available -%}
                                    {{ 'products.product.add_to_cart' | t }}
                                  {%- else -%}
                                    {{ 'products.product.sold_out' | t }}
                                  {%- endif -%}
                                </span>
                                <span class="sold-out-message hidden">
                                  {{ 'products.product.sold_out' | t }}
                                </span>
                                <div class="loading-overlay__spinner hidden">
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </div>
                              </button>
                            {%- endform -%}
                          </product-form>
                        {%- else -%}
                          <modal-opener data-modal="#QuickAdd-{{ block.settings.product.id }}">
                            <button
                              id="{{ product_form_id }}-submit"
                              type="submit"
                              name="add"
                              class="quick-add__submit button button--full-width button--secondary"
                              aria-haspopup="dialog"
                              aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ block.settings.product.id }}"
                              data-product-url="{{ block.settings.product.url }}"
                            >
                              {{ 'products.product.choose_options' | t }}
                              <div class="loading-overlay__spinner hidden">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </button>
                          </modal-opener>
                          <quick-add-modal id="QuickAdd-{{ block.settings.product.id }}" class="quick-add-modal">
                            <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: block.settings.product.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                              <button id="ModalClose-{{ block.settings.product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                              <div id="QuickAddInfo-{{ block.settings.product.id }}" class="quick-add-modal__content-info">
                              </div>
                            </div>
                          </quick-add-modal>
                        {%- endif -%}
                      </div>
                    


                    <a href="{{ block.settings.product.url }}" class="lg:twcss-text-[12px] twcss-ml-4 twcss-flex twcss-flex-row twcss-items-center twcss-justify-center">
                        Mehr <img src="{{'ArrowLearnMore.svg' | asset_url}}" alt="" class=" twcss-ml-[5px]">
                    </a>
                </div>

            </div>
            <div class="lg:twcss-max-w-lg">    
            <div class="{{block.settings.background}} twcss-min-w-full lg:twcss-min-w-0 lg:twcss-w-[358px] lg:twcss-h-[400px] twcss-w-[292px] twcss-h-[328px] twcss-order-1 lg:twcss-order-2 twcss-flex twcss-justify-center twcss-items-center twcss-flex-col twcss-relative twcss-mb-10 lg:twcss-pr-7">
               <div class="twcss-relative twcss-w-full twcss-h-[120%] pContent">
                <a href="{{ block.settings.product.url }}">  <img src="{{ block.settings.product.featured_image | image_url }}" alt="{{ block.settings.product.title }}" loading="eager" class="twcss-w-5/6 twcss-my-auto twcss-mb-0 twcss-mt-auto lg:twcss-w-auto lg:twcss-h-auto " height="250" width="250" > </a>
                <div class="elipse twcss-absolute twcss-right-10" style="background-color: {{ block.settings.colorPicker }}; bottom:40px">
                  &nbsp;</div>
                </div>
             
            </div>
          </div>
        </div>
    {%- endfor -%}

<script> 
  gsap.to(".pContent", {
  yPercent: 15,
  ease: "none",
  scrollTrigger: {
    trigger: ".pSection",
    // start: "top bottom", // the default values
    // end: "bottom top",
    scrub: true
  }, 
});

gsap.to(".pImage", {
  yPercent: 50,
  ease: "none",
  scrollTrigger: {
    trigger: ".pSection",
    // start: "top bottom", // the default values
    // end: "bottom top",
    scrub: true
  }, 
});
</script>
</div>


<style>
    .bg1{
        background-image:url({{ 'featuredBG1.png' | asset_url }});
        background-position: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bg2{
        background-image:url({{ 'FeaturedBG2.png' | asset_url }});
        background-position: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bg3{
        background-image:url({{ 'Group 14.svg' | asset_url }});
        background-position: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>

{% schema %}

{
    "name": "Loumana Featured Products",
    "tag": "section",
    "settings": [
        {
            "type": "html",
            "id": "featuredProductsHeading",
            "label": "Überschrift für featured Products",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        }
    ],
    "blocks": [
        {
            "name": "Featured Product",
            "type": "product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Produkt"
                }, {
                    "type": "select",
                    "id": "direction",
                    "label": "Produkt links- oder rechtsbündig",
                    "options": [
                        {
                            "value": "twcss-flex-row",
                            "label": "Rechtsbündig"
                        }, {
                            "value": "twcss-flex-row-reverse",
                            "label": "Linksbündig"
                        }
                    ]
                }, {
                    "type": "select",
                    "id": "background",
                    "label": "Produkthintergrund",
                    "options": [
                        {
                            "value": "bg1",
                            "label": "Hintergrund 1"
                        }, {
                            "value": "bg2",
                            "label": "Hintergrund 2"
                        }, {
                            "value": "bg3",
                            "label": "Hintergrund 3"
                        }
                    ]
                },
               {
                "type": "color",
                "id": "colorPicker",
                "label": "Farbe für den Kreis rechts neben dem Bild"
               }
            ]
        }
    ],
    "presets": [
        {
            "name": "Loumana Featured Products"
        }
    ]
}
{% endschema %}