<div class="twcss-flex twcss-max-w-[var(--page-width)] flex-row twcss-justify-between twcss-m-auto twcss-mt-24">
    <div class="twcss-flex flex-row twcss-w-1/3 twcss-items-center twcss-max-w-[359px]">
        <img src="{{ section.settings.iconOne | img_url: 'medium' }}" alt="Erster Loumana USP" width="144" height="144" loading="lazy"/>
        <p class="twcss-ml-3 twcss-font-noto twcss-font-light"> {{ section.settings.textOne }} </p>
    </div>
    <div class="twcss-flex flex-row twcss-w-1/3 twcss-items-center twcss-max-w-[359px]">
        <img src="{{ section.settings.iconTwo | img_url: 'medium' }}" alt="Erster Loumana USP" width="144" height="144" loading="lazy"/>
        <p class="twcss-ml-3 twcss-font-noto twcss-font-light"> {{ section.settings.textTwo }} </p>
    </div>
    <div class="twcss-flex flex-row twcss-w-1/3 twcss-items-center twcss-max-w-[359px]">
        <img src="{{ section.settings.iconThree| img_url: 'medium' }}" alt="Erster Loumana USP" width="144" height="144" loading="lazy"/>
        <p class="twcss-ml-3 twcss-font-noto twcss-font-light"> {{ section.settings.textThree }} </p>
    </div>
</div>




{% schema %}
{
   "name": "Loumana USP",
   "tag": "section",
   "settings": [
       {
        "type": "image_picker",
        "id": "iconOne",
        "label": "UPS erstes Icon"
       },
      {
        "type": "textarea",
        "id": "textOne",
        "label": "USP erster Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium, cum egestas"
      },
      {
        "type": "image_picker",
        "id": "iconTwo",
        "label": "UPS zweites Icon"
       },
      {
        "type": "textarea",
        "id": "textTwo",
        "label": "USP zweiter Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium, cum egestas"
      },
      {
        "type": "image_picker",
        "id": "iconThree",
        "label": "UPS drittes Icon"
       },
      {
        "type": "textarea",
        "id": "textThree",
        "label": "USP dritter Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium, cum egestas"
      }
   ],
  "presets": [
    {
        "name": "Loumana USP"
    }
  ]
}
{% endschema %}