<div class="lg:twcss-relative lg:twcss-min-h-screen lg:twcss-overflow-hidden twcss-relative twcss-min-h-screen twcss-overflow-hidden">
    <img src="{{'ElipseOpen.svg' | asset_url}}" alt="" class="twcss-absolute twcss-top-0 -twcss-right-96 lg:twcss-right-[20%] lg:twcss-w-3/12 lg:twcss-h-40 z-20" width="auto" height="auto" loading="eager">
    <img src="{{'ElipseLeft.svg' | asset_url}}" alt="" class="twcss-absolute twcss-left-0 twcss-top-1/4 twcss-w-[150px] twcss-h-[450px] lg:twcss-w-[389px] lg:twcss-h-[737px] -twcss-z-10" width="auto" height="auto" loading="eager">
    <img src="{{'ElipseRight.svg' | asset_url}}" alt="" class="twcss-absolute twcss-right-0 twcss-bottom-0 -twcss-z-10 twcss-w-[251px] twcss-h-[330px] lg:twcss-w-[519px] lg:twcss-h-[684px]" width="auto" height="auto" loading="eager">
<div class="twcss-flex lg:twcss-flex-row twcss-flex-col twcss-items-center twcss-max-w-[var(--page-width)] twcss-m-auto twcss-min-h-screen lg:twcss-justify-center twcss-justify-around twcss-mt-10" >

    <div class="lg:twcss-z-10 lg:twcss-max-w-2xl twcss-font-noto twcss-order-2 lg:twcss-order-1 twcss-ml-6 twcss-mt-11" >
        <p class="twcss-font-light twcss-text-subline twcss-uppercase twcss-mb-3 twcss-font-inco" >
            {{ section.settings.subline }}
        </p>
        <h1 class="twcss-font-extrabold twcss-uppercase twcss-text-heading twcss-leading-none twcss-mb-5 twcss-font-noto">
            {{ section.settings.headline }}
        </h1>
        <div class="twcss-font-light twcss-text-text twcss-font-noto twcss-max-w-md">
            {{ section.settings.textarea }}
        </div>
        <a href="{{ section.settings.btnURL }}" class="mainButton">Mehr dazu</a>
    </div>
    <div class="lg:twcss-w-1/2 lg:twcss-flex lg:twcss-justify-end twcss-order-1 lg:twcss-order-2 twcss-h-[256px] twcss-w-[233px] lg:twcss-h-auto">
         <img src="{{ section.settings.heroImage | img_url: 'master' }}" alt="" width="auto" height="auto" loading="eager" class="lg:twcss-z-10 twcss-hidden"  id="hero-image" style="max-width:509px; max-height:575px;">
    </div>
</div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('hero-image').classList.remove('twcss-hidden');
        document.getElementById('hero-image').classList.add('animate__animated', 'animate__backInUp');
    });
</script>

{% schema %}
{
   "name": "Loumana Hero",
   "tag": "section",
  "settings": [
     {
         "type": "text",
         "id": "subline",
         "label": "Subline",
         "default": "lorem ipsum",
         "placeholder": "lorem ipsum"
     },
    {
        "type": "text",
        "id": "headline",
        "label": "Headline",
        "default": "Lorem Headline",
        "info": "Überschrift",
        "placeholder": "Lorem Headline"
    },
    {
        "type": "textarea",
        "id": "textarea",
        "label": "Textarea",
        "default": "lorem ipsum",
        "info": "Introtext im Hero",
        "placeholder": "Lorem ipsum"
    },
   {
       "type": "url",
       "id": "btnURL",
       "label": "Button Link"
   },
  {
    "type": "image_picker",
    "id": "heroImage",
    "label": "Hero Image"
  }
  ],
 "presets": [
    {
        "category": "Hero",
        "name":"Loumana Hero"
    }
 ]
}
{% endschema %}