<style>
    .header-wrapper{
        position: relative;
    }
</style>


<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>

<style>
.shopify-payment-button__button--unbranded:hover:not([disabled]){background-color:#ACC5C7; }
</style>

{% comment %}
<div class="swiper mySwiper lg:twcss-hidden">
  <div class="swiper-wrapper">
    {% for image in product.images %}
    <div class="swiper-slide twcss-relative twcss-overflow-hidden">
      
      <img src="{{ image.src | image_url }}" width="auto" height="auto" loading="eager" {% if product.metafields.custom.hasimagebg == true and forloop.first  %} class="" style="max-width:50%; margin: 20px auto" {% endif %}>  
      {% if product.metafields.custom.hasimagebg == true and forloop.first  %} 
      <img src="{{'ElipseOpen.svg' | asset_url}}" alt="" class="twcss-absolute twcss-top-0 -twcss-right-96 lg:twcss-right-[20%] lg:twcss-w-3/12 lg:twcss-h-40 -twcss-z-10" width="auto" height="auto" loading="eager">
      <img src="{{'ElipseLeft.svg' | asset_url}}" alt="" class="twcss-absolute twcss-left-0 twcss-top-1/4 twcss-w-auto twcss-h-auto -twcss-z-10" width="auto" height="auto" loading="eager">
      <img src="{{'ElipseRight.svg' | asset_url}}" alt="" class="twcss-absolute twcss-right-[-140px] twcss-bottom-0 -twcss-z-10 twcss-w-[251px] twcss-h-auto" width="auto" height="auto" loading="eager">
      {% endif %}
    
    
    </div>
      {% endfor %}
  </div>
</div> 
{% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<div class="lg:twcss-max-w-[var(--page-width)] lg:twcss-m-auto twcss-text-center twcss-mt-[40px] twcss-mb-20 lg:twcss-mb-20">
  <h1 class=" twcss-font-noto twcss-font-extrabold twcss-uppercase lg:twcss-text-[48px] twcss-text-[34px]  twcss-mb-20 twcss-mt-[40px] ">{{ product.title }}</h1>
</div>
<div class="lg:twcss-flex lg:twcss-flex-row lg:twcss-max-w-[var(--page-width)] lg:twcss-m-auto ">

    <div class="lg:twcss-w-[50%] lg:twcss-flex lg:twcss-flex-col twcss-relative">
      {% comment %}
        {% for image in product.images %}
            <div class="twcss-mb-20 twcss-max-h-[70vh] twcss-w-auto twcss-flex twcss-justify-center twcss-items-center {% if product.metafields.custom.hasimagebg == true and forloop.first %} twcss-relative twcss-overflow-hidden {% endif %}" {% if product.metafields.custom.hasimagebg == true and forloop.first %} style="min-height: 70vh" {% endif %}>
              <img src="{{ image.src | image_url }}" width="auto" height="auto" loading="eager" class="twcss-w-auto {% if product.metafields.custom.hasimagebg == true and forloop.first %}  xl:twcss-h-[50vh] {% else %} twcss-h-auto {% endif %}" {% if product.metafields.custom.hasimagebg == true and forloop.first %} style="height: 50vh" {% endif %}>
              {% if product.metafields.custom.hasimagebg == true and forloop.first  %} 
              <img src="{{'ElipseOpen.svg' | asset_url}}" alt="" class="twcss-absolute twcss-top-0 -twcss-right-96 lg:twcss-right-[20%] lg:twcss-w-3/12 lg:twcss-h-40 -twcss-z-10" width="auto" height="auto" loading="eager">
              <img src="{{'ElipseLeft.svg' | asset_url}}" alt="" class="twcss-absolute twcss-left-0 twcss-top-1/4 twcss-w-auto twcss-h-auto -twcss-z-10" width="auto" height="auto" loading="eager">
              <img src="{{'ElipseRight.svg' | asset_url}}" alt="" class="twcss-absolute twcss-right-[-140px] twcss-bottom-0 -twcss-z-10 twcss-w-[251px] twcss-h-[330px]" width="auto" height="auto" loading="eager">
              {% endif %}
            </div>
        {% endfor %}
        {% endcomment %}

        <Div class="prod--featured--container">
          <div class="product--top--slider">
            <div id="product-images-carousel-main" >
              {%- if product.selected_or_first_available_variant.featured_media != null -%}
                {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                <li id="Slide-{{ section.id }}-{{ featured_media.id }}" class="" data-media-id="{{ section.id }}-{{ featured_media.id }}">
                  {%- assign media_position = 1 -%}
                  {% render 'product-thumbnail-second', imgsize: master,media: featured_media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: false %}
                </li>
              {%- endif -%}
              {%- for media in product.media -%}
                {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                  <li id="Slide-{{ section.id }}-{{ media.id }}" class="" data-media-id="{{ section.id }}-{{ media.id }}">
                    {%- liquid
                      assign media_position = media_position | default: 0 | plus: 1
                      assign lazy_load = false
                      if media_position > 1
                        assign lazy_load = true
                      endif
                      render 'product-thumbnail-second', imgsize: master, media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load
                    -%}
                  </li>
                {%- endunless -%}
              {%- endfor -%}
            </div>
            <div id="product-images-carousel-thumbnails" thumbnailsCount="{{product.media.size}}" >
                {%- if product.selected_or_first_available_variant.featured_media != null -%}
                  {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                  <li id="Slide-{{ section.id }}-{{ featured_media.id }}" class="" data-media-id="{{ section.id }}-{{ featured_media.id }}">
                    {%- assign media_position = 1 -%}
                    {% render 'product-thumbnail-second', imgsize: master, media: featured_media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: false %}
                  </li>
                {%- endif -%}
                {%- for media in product.media -%}
                  {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                    <li id="Slide-{{ section.id }}-{{ media.id }}" class="" data-media-id="{{ section.id }}-{{ media.id }}">
                      {%- liquid
                        assign media_position = media_position | default: 0 | plus: 1
                        assign lazy_load = false
                        if media_position > 1
                          assign lazy_load = true 
                        endif
                        render 'product-thumbnail-second', imgsize: master, media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load
                      -%}
                    </li>
                  {%- endunless -%}
                {%- endfor -%}
              </div>
          </div>
        </Div>

    </div>


    <div class="lg:twcss-w-[50%] lg:twcss-relative twcss-flex twcss-flex-col lg:twcss-justify-start">
        <div class=" lg:twcss-sticky lg:twcss-top-5  twcss-flex twcss-flex-col  twcss-max-w-[36rem] lg:twcss-max-w-none twcss-mx-auto">
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}  
          <span class="twcss-font-inco twcss-font-light twcss-text-subline twcss-mb-10">
                {{ product.price | money }}

              {% if product.compare_at_price > product.price %}
                <s> {{ product.compare_at_price |money }} </s>
              {% endif %}
            </span>
              
            <div class="lg:twcss-flex lg:twcss-flex-col lg:twcss-mt-9">
                <div class="twcss-flex twcss-flex-row twcss-items-center twcss-mb-3">
                    <img src="{{ 'truck.svg' | asset_url }}" loading="eager" alt="" width="25" height="20">
                    <span class="twcss-text-noto twcss-text-[12px] twcss-font-light twcss-ml-3">
                        Versand in 2-3 Werktagen
                    </span>
                </div>
                <div class="twcss-flex twcss-flex-row twcss-items-center twcss-mb-3">
                    <img src="{{ 'rotate-left.svg' | asset_url }}" loading="eager" alt="" width="25" height="20">
                    <span class="twcss-text-noto twcss-text-[12px] twcss-font-light twcss-ml-3">
                        Kostenloser Rückversand
                    </span>
                </div>
                <div class="twcss-flex twcss-flex-row twcss-items-center twcss-mb-5">
                    <img src="{{ 'credit-card.svg' | asset_url }}" loading="eager" alt="" width="25" height="20">
                    <span class="twcss-text-noto twcss-text-[12px] twcss-font-light twcss-ml-3">
                        Einfache Bezahlung über PayPal oder Klarna
                    </span>
                </div>
                <div class=" lg:twcss-font-light lg:twcss-text-text lg:twcss-max-w-3xl twcss-mt-10">
                    <p class=" twcss-font-light twcss-text-[14px] lg:twcss-text-text lg:twcss-leading-[2.5rem] lg:twcss-max-w-3xl">
                        {{ product.description }}
                    </p>
                
test variable products

            {%- unless product.has_only_default_variant -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        {%- for value in option.values -%}
                          <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="{{ product_form_id }}"
                                {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
            
            {%- endunless -%}

                <div class="quick-add twcss-flex twcss-flex-col twcss-justify-between">
                    {%- assign product_form_id = 'quick-add-' | append: section.id | append: product.id -%}
                    
                    <product-form class="product-form">
                        <div class="product-form__error-message-wrapper" role="alert" hidden>
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                          </svg>
                          <span class="product-form__error-message"></span>
                        </div>
        
                        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                          <div class="product-form__buttons">
                            <button
                              type="submit"
                              name="add"
                              class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                              {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                            >
                                <span>
                                  {%- if product.selected_or_first_available_variant.available -%}
                                    {{ 'products.product.add_to_cart' | t }}
                                  {%- else -%}
                                    {{ 'products.product.sold_out' | t }}
                                  {%- endif -%}
                                </span>
                                <div class="loading-overlay__spinner hidden">
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </div>
                            </button>
                            {%- if block.settings.show_dynamic_checkout -%}
                              {{ form | payment_button }}
                            {%- endif -%}
                          </div>
                        {%- endform -%}
                      </product-form>
                  </div>

                  <script>
                    document.getElementsByClassName('input_quantity')[0].addEventListener('change', (e) => {
                        document.getElementById('quantity').value = document.getElementsByClassName('input_quantity')[0].value
                    })
                  </script>
               




                {% if template == 'product.zubehoer' %}
                {% else %}
                <div class="lg:twcss-mt-12 twcss-mt-10 ">
                    <button class="accordion  twcss-font-light lg:twcss-text-text">Inhaltsstoffe</button>
                    <div class="panel  twcss-font-light lg:twcss-text-text">
                      {{ product.metafields.custom.inhaltsstoffe }}
                    </div>

                    <button class="accordion  twcss-font-light lg:twcss-text-text">Anwendung</button>
                    <div class="panel  twcss-font-light lg:twcss-text-text">
                      {{ product.metafields.custom.anwendung }}
                    
                    </div>


                    <style>
                    /* Style the buttons that are used to open and close the accordion panel */
                    .accordion {
                    cursor: pointer;
                    padding: 10px 0;
                    width: 100%;
                    text-align: left;
                    outline: none;
                    transition: 0.4s;
                    border-top: 1px solid #ACC5C7;
                    }

                    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

                    /* Style the accordion panel. Note: hidden by default */
                </style>

                    <style>
                    .panel {
                        
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        margin-bottom: 10px;
                    }

                    .accordion:after {
                        content: '\02795'; /* Unicode character for "plus" sign (+) */
                        font-size: 13px;
                        color: #777;
                        float: right;
                        margin-left: 5px;
                        transition: transform 0.2s ease-in;
                        transform: rotate(0deg); /* Unicode character for "minus" sign (-) */
                    }

                    .active:after {
                        content: "\02795";
                        transition: transform 0.2s ease-in;
                        transform: rotate(45deg); /* Unicode character for "minus" sign (-) */
                    }
                </style>

                    <script>
                    var acc = document.getElementsByClassName("accordion");
                    var i;
                    
                    for (i = 0; i < acc.length; i++) {
                        acc[i].addEventListener("click", function() {
                            this.classList.toggle("active");
                            var panel = this.nextElementSibling;
                            if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                            } else {
                            panel.style.maxHeight = panel.scrollHeight + "px";
                            }
                        });
                    }
                </script>


                </div>
                      {% endif %}

            </div>
            </div>
        </div>
    </div>
</div>

{% if product.metafields.custom.extra_details  != blank %}
<div class="product--extradetails" style="">
  <div class="twcss-w-full twcss-bg-[#ACC5C7] twcss-py-16 twcss-flex twcss-flex-col twcss-items-center twcss-justify-center twcss-rounded-3xl twcss-mb-28 twcss-mt-20">
    <div class="twcss-flex twcss-flex-col lg:twcss-max-w-4xl twcss-max-w-lg twcss-text-center twcss-items-center twcss-justify-center ">
      {{ product.metafields.custom.extra_details  }}
    </div>
  </div>
</div>
{% endif %}

{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
<script>
  var swiper = new Swiper(".mySwiper", {});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return (msie > 0 || trident > 0);
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>

{% schema %}
{
   "name": "Loumana ProductForm vr",
  "settings": [
    {
        "type": "html",
        "id": "extradetails",
        "label": "Extra Details"
      }
  ],
 "presets": [
    {
        "category": "product",
        "name":"Loumana ProductForm vr"
    }
 ]
}
{% endschema %}